@import url(https://fonts.googleapis.com/css?family=Roboto|Be+Vietnam+Pro|Space+Mono);

#container {
  margin: 100px auto;
  position: relative;
  width: 500px; height: 500px;
  background: transparent;
}

#credit {
  position: absolute;
  width: 200px; height: 30px;
  left: 22%;
  text-align: center;
  font-family: space mono;
  font-size: 9px;
  color: #fafafa;
}


#heart-one {
  position: absolute;
  top: 25%; left: 7%;
  transform: rotate(-20deg);
}

#heart-one img {
  width: 90px; height: 90px;
}


#heart-two {
  position: absolute;
  top: 1%; right: 34%;
  transform: rotate(20deg);
}

#heart-two img {
  width: 90px; height: 90px;
}



body {
  background-color: #1c1c1c;
  background-size: 200px 200px;
  background-image:
    linear-gradient(to right, #171717 1px, transparent 1px),
    linear-gradient(to bottom, #171717 1px, transparent 1px);
}
